{% extends '::base.html.twig' %}

{% block body -%}
    <div class="no-margin row paddingTop">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default table-panel">
    
                <div class="panel-heading">
                    <h2 class="panel-title center-block">
                       {% block pannelTitle %}{% endblock %}
                    </h2>
                </div>
                <div class="panel_body">
                    <div class="table-responsive scroll">
                    {% block content_table %}{% endblock %}
                    </div>
                </div>
            </div>

            {% block other %}{% endblock %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}