{% extends 'ShipCruiseBundle:Default:mainPage.html.twig' %}
{% block page1 -%} 
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 paddingTop">
        <h1 class="heading">Contacts</h1>
        <div class="contact">
            <h4>Sonnenkabin.de</h4>
            <p>Koltenbrunner Weg 5 <br>
            95333 Geiselhoring</p>
            <p>info@sonnenkabin.de</p>
        </div>
        
    </div>
    <div class="col-lg-2"></div>
{% endblock %}