{% extends 'ShipCruiseBundle:Default:mainPage.html.twig' %}
{% block page1 -%} 
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 paddingTop">
        <h1 class="heading">Find the Sunny Side of your cruise now!</h1>
        <p class="heading">"with us you will enjoy a sunny cruise on your cabin's balcony" - Paul Lampert, founder.</p>
        <div class="dropdowns">                
            {{ form(form) }}
        </div>
    </div>
    <div class="col-lg-2"></div>
{% endblock %}
{% block page2 -%}
    <div class="row CEO no-margin">
        <h1 class="CEOHeading">What is the sunny side of my cruise ship?</h1>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="CEOText">
                <pre>            Sie wollen eine Kreuzfahrt buchen, sind sich aber nicht sicher welche Seite des Schiffes die Sonnenseite auf ihrer Route sein wird? Sonnenkabine.de hat Routen, Kurs und Liegeplätze für Sie analysiert und so herausgefunden, auf welcher Seite mehr Sonne auf ihre Balkonkabine scheint. Mit Hilfe dieser Daten können wir eine Empfehlung* zur sonnigeren Seite auf ihrer Reise bereits vor der Buchung geben. So finden Sie ihre sonnige Kabine ganz einfach & völlig kostenfrei und genießen Sonne satt auf ihrem Balkon. 
In unserer BETA-Version finden Sie bereits für viele Routen die Sonnenseite ihrer Kreuzfahrt mit TUI Cruises und AIDA mit den Schiffen Mein Schiff 1 - Mein Schiff 2 - Mein Schiff 3 - Mein Schiff 4 - Mein Schiff 5 - Mein Schiff 6 - Mein Schiff 7 & Mein Schiff 8 sowie die AIDA-Flotte mit AIDAcara - AIDAvita - AIDAaura - AIDAdiva - AIDAbella - AIDAluna - AIDAblu - AIDAsol - AIDAmar - AIDAstella - AIDAPrima
In Arbeit sind neben der Erweiterung von TUI Cruises und AIDA-Routen auch Schiffsrouten der Reederein von Costa, Norwegian Cruise Line, Hapag Lloyd Kreuzfahrten, MSC, Royal Caribbean, Phoenix Reisen</pre>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}







