{% extends 'ShipCruiseBundle:Default:mainPage.html.twig' %}
{% block page1 -%} 
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 paddingTop">
        <h1 class="heading">Find the Sunny Side of your cruise now!</h1>
        <p class="heading">"with us you will enjoy a sunny cruise on your cabin's balcony" - Paul Lampert, founder.</p>
        <div class="dropdowns">                
            {{ form(form) }}
        </div>
    </div>
    <div class="col-lg-2"></div>
{% endblock %}
{% block page2 -%}
    <div class="row CEO no-margin">
        <h1 class="CEOHeading">What is the sunny side of my cruise ship?</h1>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="CEOText">
                <pre>            Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a search engine's unpaid results—often referred to as "natural," "organic," or "earned" results. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users. SEO may target different kinds of search, including image search, local search, video search, academic search,[1] news search and industry-specific vertical search engines.

            Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a search engine's unpaid results—often referred to as "natural," "organic," or "earned" results. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users. SEO may target different kinds of search, including image search, local search, video search, academic search,[1] news search and industry-specific vertical search engines.

            Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a search engine's unpaid results—often referred to as "natural," "organic," or "earned" results. In general, the earlier (or higher ranked on the search results page), and more frequently a site appears in the search results list, the more visitors it will receive from the search engine's users. SEO may target different kinds of search, including image search, local search, video search, academic search,[1] news search and industry-specific vertical search engines.</pre>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}







