{% extends 'ShipCruiseBundle:Default:mainPage.html.twig' %}
{% block page1 -%} 
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 paddingTop">
        <h1 class="heading">Find the Sunny Side of your cruise now!</h1>
        <p class="heading">"with us you will enjoy a sunny cruise on your cabin's balcony" - Paul Lampert, founder.</p>
        <div class="dropdowns">                
            {{ form(form) }}
        </div>
    </div>
    <div class="col-lg-2"></div>
{% endblock %}
{% block page2 -%}
    <div class="row CEO no-margin">
        <h1 class="CEOHeading">What is the sunny side of my cruise ship?</h1>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="CEOText">
                <p style="text-align: center;"><span style="font-size: medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sie wollen eine Kreuzfahrt buchen, sind sich aber nicht sicher welche Seite des Schiffes die Sonnenseite auf ihrer Route sein wird? Sonnenkabine.de hat Routen, Kurs und Liegepl&auml;tze f&uuml;r Sie analysiert und so herausgefunden, auf welcher Seite mehr Sonne auf ihre Balkonkabine scheint. Mit Hilfe dieser Daten k&ouml;nnen wir eine Empfehlung* zur sonnigeren Seite auf ihrer Reise bereits vor der Buchung geben. So finden Sie ihre sonnige Kabine ganz einfach &amp; v&ouml;llig kostenfrei und genie&szlig;en Sonne satt auf ihrem Balkon. </span><br /><span style="font-size: medium;">In unserer BETA-Version finden Sie bereits f&uuml;r viele Routen die Sonnenseite ihrer Kreuzfahrt mit TUI Cruises und AIDA mit den Schiffen Mein Schiff 1 - Mein Schiff 2 - Mein Schiff 3 - Mein Schiff 4 - Mein Schiff 5 - Mein Schiff 6 - Mein Schiff 7 &amp; Mein Schiff 8 sowie die AIDA-Flotte mit AIDAcara - AIDAvita - AIDAaura - AIDAdiva - AIDAbella - AIDAluna - AIDAblu - AIDAsol - AIDAmar - AIDAstella - AIDAPrima</span><br /><span style="font-size: medium;">In Arbeit sind neben der Erweiterung von TUI Cruises und AIDA-Routen auch Schiffsrouten der Reederein von Costa, Norwegian Cruise Line, Hapag Lloyd Kreuzfahrten, MSC, Royal Caribbean, Phoenix Reisen.
                    </span></p>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}







