{% extends 'ShipCruiseBundle:Default:mainPage.html.twig' %}
{% block page1 -%} 
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 paddingTop">
        <h1 class="heading">The Sunny Side of your cruise...</h1>
        <div class="dropdowns">                
            {{ form(form) }}
        </div>
    </div>
    <div class="col-lg-2"></div>
{% endblock %}