{% extends 'ShipCruiseBundle:Default:mainPage.html.twig' %}
{% block page1 -%} 
    <div class="col-lg-2"> </div>
    <div class="col-lg-8 paddingTop">
        <h1 class="heading">Wir sind Kreuzfahrtbegeistert, so wie Sie!</h1>
        <div class="contact">
            <p style="text-align: justify;"><span style="font-size: medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Im Jahr 2013 hat die Familie Lampert das Kreuzfahrtfieber gepackt und seit dem nicht mehr losgelassen. Da sie am liebsten den ganzen Tag Sonne auf der Balkonkabine haben m&ouml;chten, wollten sie schon vor der Buchung wissen, was denn die Sonnenseite des Schiffes voraussichtlich sein wird. Leider hatte weder das Reiseb&uuml;ro noch das Internet eine wirklich zufriedenestellende Antwort parat. </span><br /><span style="font-size: medium;">Einige Jahre zogen ins Land, da kam Paul Lampert auf einer Kanarenkreuzfahrt die Idee zu Sonnenkabine.de und notierte sich die grunds&auml;tzliche Idee auf dem Notizblock der Kabine.</span><br /><span style="font-size: medium;">Als Marktforscher ist Gr&uuml;nder Paul Lampert es gewohnt, Daten zu sammeln, auszuwerten und aufzubereiten. Und so kam ihm die Idee, eine Instrument zu entwickeln an deren Ende nach unz&auml;hligen Daten dann eine doch recht einfache Empfehlung steht: Backbord oder Steuerbord?</span><br /><span style="font-size: medium;">&nbsp;</span><br /><span style="font-size: medium;">In diesem Sinne: Schiff Ahoi!</span></p>
        </div>
        
    </div>
    <div class="col-lg-2"></div>
{% endblock %}