{% extends '::layout.html.twig' %}

{% block pannelTitle %}
    CabinRecommendation edit
{% endblock %}
{% block pannelBody %}
    {{ form(edit_form) }}
{% endblock %}
{% block other %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('cabinrecommendation') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
