{% extends '::layout.html.twig' %}

{% block pannelTitle %}
    CabinRecommendation creation
{% endblock %}
{% block pannelBody %}
    {{ form(form) }}
{% endblock %}
{% block other %}
<ul class="record_actions">
    <li>
        <a href="{{ path('cabinrecommendation') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}