{% extends '::layout.html.twig' %}

{% block pannelTitle %}
    Route creation
{% endblock %}
{% block pannelBody %}
    {{ form(form) }}
{% endblock %}
{% block other %}
    <ul class="record_actions">
    <li>
        <a href="{{ path('route') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}